.page {
  position: relative;
  width: auto;
  height: 100%;
  background: #ffffff;
}

.search {
  box-sizing: border-box;
  position: absolute;
  width: 90%;
  height: 5%;
  left: 24px;
  top: 5px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
}

.reactangle {
  position: absolute;
  width: 5%;
  height: 5%;
  left: 90%;
  top: 5px;
  background: #7089e0;
}

.vector {
  position: absolute;
  left: 24%;
  top: 12%;
}
.trending {
  height: 14% !important;
  margin-left: 5%;
  width: 246px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
.cardList {
  margin: 1%;
  margin-left: 4%;
  margin-right: 4%;
}

.example-card {
  max-width: 400px;
}

.customCard {
  width: 40%;
  height: 20%;
  background: #d9d9d9;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 4px;
  background-color: #f1f1f1;
  height: 30vh;
  width: 25%;
  cursor: pointer;
}

.container {
  background: #f5f5f5;
  height: 150vh;
  width: 100%;
  padding: 0.5em;
  /* margin:25vh auto 0; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movieTitle {
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.cursor {
  cursor: pointer;
}

.pagination {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  gap: 28px;
  margin-left: 60vh;
  z-index: 10;
}

.rating {
  margin-left: 10px;
}
